@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
:root{
    --Verydarkdesaturatedblue: hsl(238, 29%, 16%);
    --Softred: hsl(14, 88%, 65%);
    --Softviolet: hsl(273, 75%, 66%);
    --Softblue: hsl(240, 73%, 65%);
    --Verydarkgrayishblue: hsl(237, 12%, 33%);
    --Darkgrayishblue: hsl(240, 6%, 50%);
    --Lightgrayishblue: hsl(240, 5%, 91%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-wrap: break-word;
}
html{
    font-size: 10px;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    background-image: linear-gradient(var(--Softviolet), var(--Softblue));
    background-repeat: no-repeat;
    height: 100vh;
}
.illustration-woman-desktop,
.bg-pattern-desktop,
.illustration-box{
    display: none;
}
main{
    display: flex;
    justify-content: center;
}
.main-ctn{
    background-color: white;
    margin-top: 15rem;
    height: 60rem;
    width: 33rem;
    border-radius: 1rem;
}
.image-ctn{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-ctn img{
    width: 24rem;
}
.illustration-woman{
    position: relative;
    top: -10rem;
}
.bg-pattern-mobile{
    position: relative;
    top: -18rem;

}
.question-ctn{
    height: 35rem;
    width: 28rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 2rem;
    gap: 2rem;
    position: relative;
    top: -15rem;
}
.question-ctn h1{
    font-size: 3rem;
    margin-left: 10rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.question-ctn p{
    font-size: 1.25rem;
    color: var(--Darkgrayishblue);
}
.question-ctn img{
    height: .5rem;
    width: .8rem;
}
hr{
    width: 28rem;
}
.question-1{
    width: 28rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.question-2{
    width: 28rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.question-3{
    width: 28rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.question-4{
    width: 28rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.question-5{
    width: 28rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
@media only screen and (max-width: 1440px){
    .illustration-woman{
        display: none;
    }
    .illustration-woman-desktop{
        display: block;
    }
    .illustration-box{
        display: block;
    }

}

   
    


    