@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
:root{
    --Verydarkdesaturatedblue: hsl(238, 29%, 16%);
    --Softred: hsl(14, 88%, 65%);
    --Softviolet: hsl(273, 75%, 66%);
    --Softblue: hsl(240, 73%, 65%);
    --Verydarkgrayishblue: hsl(237, 12%, 33%);
    --Darkgrayishblue: hsl(240, 6%, 50%);
    --Lightgrayishblue: hsl(240, 5%, 91%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-wrap: break-word;
}
html{
    font-size: 10px;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    background-image: linear-gradient(var(--Softviolet), var(--Softblue));
    background-repeat: no-repeat;
    height: 100vh;
}
@media only screen and (min-width: 375px){
img.illustration-box
{
    display: none;
}
img.illustration-woman-desktop{
    display: none;
}
img.bg-pattern-desktop{
    display: none;
}
img.illustration-woman{
    position: absolute;
    top: 6rem;
    left: 9rem;
    width: 50%;
}
img.bg-pattern-mobile{
    position: absolute;
    top: 15rem;
    left: 9rem;
    width: 50%;
}
.main-ctn{
    display: flex;
    justify-content: center;
}
.question-ctn{
    background-color: white;
    height: 60rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 1rem;
    margin-top: 15rem;
}
.question-ctn h1{
    font-size: 3rem;
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 5rem;
}
.question-ctn p{
    font-size: 1.25rem;
}
hr{
    width: 28rem;
    margin-left: 2rem;
}
.question-1{
    width: 28rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
}
.question-2{
    width: 28rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
}
.question-3{
    width: 28rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
}
.question-4{
    width: 28rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
}
.question-5{
    width: 28rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
}
}

/* DESKTOP */

@media only screen and (min-width: 1440px){
    img.illustration-woman{
        display: none;
    }
    img.illustration-woman-desktop{
        display: block;
        position: absolute;
        top: 25rem;
        left: 15rem;
    }
    img.bg-pattern-mobile{
        width: 60rem;
        top: 42rem;
        left: 10rem;
    }
    img.illustration-box{
        display: block;
        position: absolute;
        top: 40rem;
        left: 15rem;
    }
    .question-ctn{
        width: 60%;
        align-items: flex-end;
    }
    .question-ctn p{
        font-size: 1.5rem;
    }
    .question-ctn h1{
        margin-right: 15rem;
    }
    .question-1,
    .question-2,
    .question-3,
    .question-4,
    .question-5{
        margin-right: 5rem;
        width: 30rem;
    }
    hr{
        width: 30rem;
        margin-right: 5rem;
    }
}


   
    


    