@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
:root{
    --Verydarkdesaturatedblue: hsl(238, 29%, 16%);
    --Softred: hsl(14, 88%, 65%);
    --Softviolet: hsl(273, 75%, 66%);
    --Softblue: hsl(240, 73%, 65%);
    --Verydarkgrayishblue: hsl(237, 12%, 33%);
    --Darkgrayishblue: hsl(240, 6%, 50%);
    --Lightgrayishblue: hsl(240, 5%, 91%);
}
*{
    box-sizing: border-box;

}
html{
    font-size: 12px;
}
body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(hsl(273,75%,66%), hsl(240,73%,65%));
    display: grid;
    justify-content: center;
    align-content: center;
}
.wrapper{
    background: white url(./images/bg-pattern-desktop.svg) no-repeat 1000% 60%;
    border-radius: 30px;
    height: 500px;
    width: 900px;
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-gap: 10rem;
}
.question_accordion{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.answer{
   display: none;
}
.active .answer{
    display: block;
    padding-bottom: 1.3rem;
    color: var(--Verydarkdesaturatedblue);
    transition: all .3s ease-in;
}
 img{
    transform: rotate(0deg);
    transition: all .3s ease-in;
}
.active img{
    transform: rotate(180deg);
    transition: all .3s ease-in;
}

.active h3{
    font-weight: 700;
}
.question-answer_accordion{
    width: 350px;
    border-bottom: 1px solid #e8e8e8 ;
}

.title_accordion{
    font-size: 3rem;
    margin-top: 0px;
}

.title_question{
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--Verydarkdesaturatedblue);
    margin: 1.4rem 0rem;
}

.question{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.question img{
    align-self: center;
}

.image_wrapper{
    position: relative;
}
.image_wrapper--inner img{
    position: absolute;
    height: 70%;
    top: 10px;
    left: -100px;
}

.box{
    position: absolute;
    top: 30%;
    left: -100px;
}






   
    


    